= simple_form_for([@project, @project.floorplans.build]) do |f|
	= f.input :name, label: "Name the Floorplan"
	= f.input :image, input_html: {multiple: true }, label: "Attach the Floorplan Image"
	= f.button :submit, class: "button"