#posts
	- @projects.each do |project|
		.post
			.post_content
				.title
					%h1= link_to project.title, project
				.data.clearfix
					%p.username
						Number of floorplans
						= project.floorplans.count

